/* Style Sheet */

* {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: end;
  background-color: #ffc0c0;
}

h1 {
  text-align: center;
  padding: 10px;
}

label {
  font-size: 20px;
  padding: 10px;
}

input, output {
  font-size: 18px;
}

h1, label, input, output {
  font-family: "Nunito";
}

#answer {
  display: inline-block;
}

#button-container {
  display: grid;
  justify-items: center;
}

#convert {
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
}

#background {
  grid-area: 1 / 1 / 2 / 2;
}

#background-photo {
  width: auto;
  height: 60vh;
  margin: 35vh 0 5vh 0;
}

#converter-container {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 2;
  margin: 80px auto;
}

#converter {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 40px;
}

@media (max-width: 1050px) {
  #background {
    width: 100%;
    overflow: hidden;
  }

  #background-photo {
    background-position: right;
    float: right;
    height: 55vh;
    margin: 35vh 0 10vh 0;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  label {
    font-size: 16px;
  }

  input {
    font-size: 14px;
  }

  #background-photo {
    height: 45vh;
    margin: 45vh 0 10vh 0;
  }

  #convert {
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
  }
}

@media (max-height: 400px) {
  main {
    align-items: end;
  }
  #background {
    align-items: end;
  }
}

