/* Style Sheet */

* {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: end;
  background-color: /*#8A99FE;*/#C2ABFD;
}

h1 {
  text-align: center;
  padding: 10px;
}

label {
  font-size: 20px;
  padding: 10px;
}

input {
  font-size: 18px;
}

h1, label, input {
  font-family: "Cormorant Garamond";
}

#background {
  grid-area: 1 / 1 / 2 / 2;
}

#background-photo {
  width: auto;
  height: 100vh;
}

#converter-container {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 2;
  margin: 80px auto;
}

#converter {
  border-style: solid;
  border-width: 0.1px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px 40px 80px 40px;
}

@media (max-width: 1050px) {
  #background {
    width: 100%;
    overflow: hidden;
  }

  #background-photo {
    background-position: right;
    float: right;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  label {
    font-size: 16px;
  }

  input {
    font-size: 14px;
  }
}
/*#background {
  height: 100vh;
  width: auto;
  background: url("Roman-Small.jpg");
  background-position: right;
}*/
